<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <div class="container">
        <h1>Enter Phone Number</h1>
        <form method="POST" action="/details">
            <input type="text" name="phone" placeholder="Enter phone number">
            <button type="submit">Search</button>
        </form>

        {% if contact_details %}
            <h1>Details for {{ contact_details[0][1] }}</h1>
            <p>Phone: {{ contact_details[0][0] }}</p>
            <p>Spam Likelihood: {{ contact_details[0][2] }}</p>

            {% if user_email %}
                <p>Email: {{ user_email[0] }}</p>
            {% else %}
                <p>Email: Not available</p>
            {% endif %}

            <h2>Other names for this phone number:</h2>
            <ul>
                {% for contact in contact_details %}
                    <li>{{ contact[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
